.create-group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.create-group-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.create-group-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-group-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-group-button:hover {
  background-color: #0b80d5;
}
