.drawingAppCanvas {
  margin-top: 1rem;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.drawingApp {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-items: center;
  align-items: center;
}

@media (max-width: 768px) {
  .drawingAppButton {
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
  }

  .drawingAppCanvas {
    touch-action: none;
  }

  .drawingApp {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .drawingApp {
    padding-top: 10vh;
    padding-bottom: 10vh;
    justify-items: center;
    align-items: center;
  }
}

.drawingAppCanvas {
  touch-action: none;
  margin-bottom: 1rem;
}
.canvas-container {
  position: relative;
}
